*{
box-sizing:border-box;
}


body{

margin:0;

font-family:
Inter,
Arial,
sans-serif;

background:#090b10;

color:#f4f5f7;

display:flex;

}



.sidebar{

width:260px;

height:100vh;

background:#0d1016;

border-right:1px solid #202631;

padding:25px;

position:fixed;

}



.sidebar h2{

font-size:22px;

letter-spacing:2px;

margin-bottom:40px;

}



.sidebar nav div{

padding:15px 18px;

margin-bottom:8px;

border-radius:12px;

color:#8992a3;

cursor:pointer;

font-size:15px;

}



.sidebar nav .active{

background:#1b212c;

color:white;

}



.main{

margin-left:260px;

width:calc(100% - 260px);

padding:25px 35px;

}



header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:35px;

}



#search{

width:70%;

background:#11151c;

border:1px solid #242b36;

border-radius:18px;

padding:16px 22px;

color:white;

font-size:16px;

}



.user{

background:#151b24;

border:1px solid #303744;

padding:12px 25px;

border-radius:30px;

}



.car-header{

display:flex;

justify-content:space-between;

align-items:center;

}



.car-header h1{

font-size:42px;

margin:10px 0;

}



.car-header p{

color:#8c96a8;

font-size:16px;

}



button{

background:#f5f5f5;

color:#111;

border:0;

padding:14px 25px;

border-radius:14px;

font-weight:600;

cursor:pointer;

}



.buttons button:last-child{

background:#161c25;

color:white;

border:1px solid #303744;

margin-left:10px;

}




.cards{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:18px;

margin:30px 0;

}



.card{

background:#11151c;

border:1px solid #202631;

padding:25px;

border-radius:22px;

}



.card label{

color:#8d96a6;

}



.card h2{

font-size:28px;

margin:15px 0 0;

}



.profit h2{

color:#7dff9b;

}





.grid{

display:grid;

grid-template-columns:1.2fr 1fr;

gap:20px;

}



.panel{

background:#11151c;

border:1px solid #202631;

border-radius:22px;

padding:25px;

}



.panel h3{

margin-top:0;

font-size:20px;

}



.photos{

height:320px;

display:grid;

grid-template-columns:2fr 1fr;

grid-template-rows:1fr 1fr;

gap:10px;

margin-bottom:20px;

}



.photos img{

width:100%;

height:100%;

object-fit:cover;

border-radius:16px;

background:#1a202b;

}



input,
select{

width:100%;

background:#0b0f15;

border:1px solid #29313d;

padding:14px;

border-radius:12px;

color:white;

margin-bottom:15px;

font-size:15px;

}



label{

display:block;

color:#9aa3b3;

margin-bottom:7px;

}



#expenses div,
#documents div,
#history div{

padding:14px;

border-bottom:1px solid #252c37;

color:#cdd3dc;

}



input[type=file]{

background:#161c25;

}



@media(max-width:900px){

.sidebar{

display:none;

}


.main{

margin:0;

width:100%;

padding:20px;

}


.cards{

grid-template-columns:1fr 1fr;

}


.grid{

grid-template-columns:1fr;

}


}
